@import "tailwindcss";

@theme {
  --color-primary: #dc2626;
  --color-secondary: #eab308;
  --color-success: #22c55e;
  --color-background: #0f1115;
  --color-surface: #1f2937;

  --font-sans: 'Inter', sans-serif;
  --font-display: 'Orbitron', sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: white;
    font-family: var(--font-sans);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-display);
  }
}